@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    height: 100%;
    min-height: 100%;
}
html {
    min-width: 100vw;
    scroll-behavior: smooth;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 20rem;
    height: 100%;
}

svg.drop {
    filter: drop-shadow(0px 0px 2px);
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

